#textAreaDiv {
    display: flex;
    justify-content: center;
}

#inputDiv {
    display: flex;
    justify-content: center;
}

#headerDiv {
    display: flex;
    justify-content: center;
}

#dropDown  {
    width: 150px;
    height: 50px;
}

#dropDowntext {
    display: flex;
    align-items: center;
}

#resultCard {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#pressed, #percent, #correct, #wrong {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

